body {
    background-image: url("Images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 1000px;
}

h2 {
    font-family: 'Bubbler One';font-size: 38px;
}

h4 {
    font-family: 'Bubbler One';font-size: 30px;
    text-decoration: underline;
}

p, ul, ol {
    font-family: 'Bubbler One';font-size: 20px;
}

p {
    margin-bottom: 50px;
}

.margin0 {
    margin-left: 0;
    margin-right: 0;
}

.margin1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}

.hyperlink {
    display: block;
}

.transbox {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

.transboxsmallbox {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 30px;
    margin-right: 0px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

.transboxaboutme {
    margin-top: 18px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

.transboxlearnmore {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

#name {
    font-family: 'Euphoria Script';font-size: 80px;
    margin-top: 20px;
}

#bottomofcolumn {
    margin-bottom: 5px;
}

/* html, body are selectors 
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #bbb;
    color: black;
}
main {
    padding: 20px 20px;
    background-color: #eaeaea;
}
header {
    background-color: slateblue;
    padding: 5px 20px;
    color: whitesmoke;
}
div {
    padding: 0 25px;
    padding: 20px;
    margin-bottom: 20px;
}
div h3 {
    margin: 10px 0;
}

p {
    font-size: 25px;
    /* font-size: small; */
    /* font-size: 100%; 
}


ul li {
    /* for any children/grandchildren 
    color: blueviolet;
    background-color: lightgreen
}

ul > li {
    /* only for direct children 
}

#classes {
    color: slateblue;
}
#ids {
    color: tomato;
}
.box {
    border: 2px solid;
    background-color: white;
}
